body{
    background: rgb(244,244,244);
}

h3{
	color: #fff;
	/* background: #007bff; */
	text-align: center;
	padding: 10px;
}

.h_po{
	text-align: center;
}

.rowed{
	margin: 20px 0px 20px 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.comp{
	border:1px solid #ccc;
}

img{
	height: 250px;
	width: 200px;
}

/*Realizando un menu*/

.list{
	background: #007bff;
	/* margin:20px 100px 20px 100px; */
	margin:0;
	box-shadow:0px 2px 2px rgb(0,0,0);
}

ul{
	text-align: center;
}

.list ul li{
	list-style:none;
	display:inline-block;
	margin:15px;
}

.list ul li a{
	padding:15px;
	text-decoration:none;
	color:#fff;
}

.list ul li a:hover{
	background:rgb(44, 68, 119);
	color:rgb(255,255,236);
}


/*Cards*/

.temp{background: rgb(132, 240, 226);}

.hum{background: rgb(101, 243, 119);}

.luz{background: rgb(255,163,70);}

.presion, {background: rgb(121,188,255);}
