
.icon-home:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-chart-bar:before { content: '\e803'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */