body{
	/* background: rgb(244,244,244); */
	background: url(../img/colorful-blocks-blank-white-background-vector/67037.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+36,f1f1f1+36,f1f1f1+47,f6f6f6+100 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+6,f1f1f1+6,f1f1f1+96,f6f6f6+100 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+6,f1f1f1+6,e2e2e2+96,f6f6f6+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 6%, rgba(241,241,241,1) 6%, rgba(226,226,226,1) 96%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 6%,rgba(241,241,241,1) 6%,rgba(226,226,226,1) 96%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 6%,rgba(241,241,241,1) 6%,rgba(226,226,226,1) 96%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */

}

h3{
	color: #fff;
	/* background: #007bff; */
	text-align: center;
	padding: 10px;
}

.h_po{
	text-align: center;
}

.rowed{
	margin: 20px 0px 20px 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.comp{
	border:1px solid #ccc;
}

img{
	height: 250px;
	width: 200px;
}

/*Realizando un menu*/

.list{
	background: #007bff;
	/* margin:20px 100px 20px 100px; */
	margin:0;
	box-shadow:0px 2px 2px rgb(0,0,0);
}

ul{
	text-align: center;
}

.list ul li{
	list-style:none;
	display:inline-block;
	margin:15px;
}

.list ul li a{
	padding:15px;
	text-decoration:none;
	color:#fff;
}

.list ul li a:hover{
	background:rgb(44, 68, 119);
	color:rgb(255,255,236);
}


/*Cards*/

.temp,#temperatura{background: rgb(132, 240, 226);border:1px solid rgb(132, 240, 226);}

.hum,#humedad{background: rgb(101, 243, 119);border:1px solid rgb(101, 243, 119);}

.luz,#luz{background: rgb(255,163,70);border:1px solid rgb(255,163,70);}

.presion,#presion{background: rgb(121,188,255);border:0px solid rgb(121,188,255);}

/*Hover*/

#temperatura:hover{background: rgb(110, 197, 185);}

#humedad:hover{background: rgb(78, 190, 93);}

#luz:hover{background: rgb(212, 136, 59);}

#presion:hover{background: rgb(100, 163, 226);}


/**/

.card{
	box-shadow: 3px 2px 5px #ccc; 
}

#particles-js {
	height: 100%; 
	width: 100%;
    position: fixed;
    z-index: -1;
}


/* Pie de pagina*/

.footer{
    background-color: #33414E;
    height: auto;
    color: #fff;
    padding-top: 20px;
    margin-top: 70px;
}
.footer-copyright{
    height: 45px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    background-color: #2B3D51;
}


/*--------------------------BigBox------------------------*/


.bigBox-Fondo{
	position: fixed;
	top: 0px;
	left:0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	z-index: 99998;
}

.bigBox-contenedor{
	position: fixed;
	top: 150px;
	left: 150px;
	width: 600px;
	/*height: 400px;*/
	background-color: #f4f4f4;
	border: 1px solid #a9a9a9;
	display: none;
	opacity: 0;
	z-index: 99999;
}

.bigBox-Cerrar{
	float: right;
	width: 45px;
	height: 45px;
	cursor: pointer;
	color: rgb(56, 56, 56);
	font-size: 20px;
	text-align: center;
	padding-top: 8px;
}

.bigBox-Contenido{
	margin-top: 20px;
}

.bigBox-Titulo{
	font-size: 38px;
}